<a href={{repo.html_url}} target="_blank" class="repo-cards-link">
    <div class="col-12 my-3">
        <div class="card repo-cards">
            <div class="card-body">
                <h4 class="card-title text-primary">{{repo.name}}</h4>
                <h6 class="card-text text-dark mt-1 mb-4">{{repo.description}}</h6>
                <span *ngFor="let badge of repo.topics">
                    <app-primary-badge [badge]="badge"></app-primary-badge>
                </span>
            </div>
        </div>
    </div>
</a>